@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bmi_calculator {
  width: 300px;
  margin-top: 50px;
  box-shadow: 0px 0px 20px 10px #994599;
  padding: 50px;
  border-radius: 30px;
  text-align: center;
}

h1 {
  margin-bottom: 40px;
  font-size: 1.8rem;
}

p {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

input {
  border: none;
  border-bottom: 1px solid #994599;
  width: 50%;
  margin-bottom: 20px;
  outline: none;
  font-size: 0.8rem;
  text-align: center;
  padding: 10px;
  font-weight: 500;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: #994599;
  color: white;
  border-radius: 50px;
  margin-bottom: 20px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

#result {
  /* display: none; */
  font-size: 1.2rem;
}
