@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(63, 61, 61);
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-bottom: 1px solid #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid rgb(22, 22, 22);
  text-align: center;
  color: #1b1b1b;
}

nav a[aria-current="page"] {
  color: #000;
  background-color: #d4d4d4;
}

main {
  padding: 1rem;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project-link {
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
  margin-top: 5px;
  text-align: start;
  position: relative;
  overflow: hidden;
}

.project-link p:hover {
  font-size: 1.1rem;
  cursor: pointer;
}
